{% extends 'base.html.twig' %}

{% block title %}Game Setting List{% endblock %}

{% block body %}
<table>
    <thead>
    <tr>
        <td>Level</td>
        <td>Total Second</td>
        <td>IsActive</td>
    </tr>
    </thead>
    <tbody>
    {% for setting in gameSetting %}
        <tr>
            <td>{{ setting.level }}</td>
            <td>{{ setting.totalSecond }}</td>
            <td>{{ setting.isActive }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}