{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ message }}</h1>
        <div class="d-flex justify-content-center">
            <div>
                <a href="{{ path('app_dashboard') }}" class="btn btn-success">Dashboard</a>
            </div>
        </div>

    </div>
{% endblock %}

{% block title %}

{% endblock %}

